<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.signalcollection">

    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- GPS定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.example.signalcollection.permission.JPUSH_MESSAGE"/>

    <!-- 相机相关 -->
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-feature android:name="android.hardware.camera.flash"/>


    <permission
        android:name="com.example.signalcollection.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>


    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!--百度地图的key-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="GhjzqHFEYj0XA2CmZje7G3rHDFuje2Xv"/>

        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CollectionActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name=".activity.HistoryCollectedActivity"/>
        <activity android:name=".activity.TasklistActivity"/>

        <activity
            android:name=".activity.CropImageActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.TaskErrorActivity"/>
        <activity android:name=".activity.MyTaskActivity"/>
        <activity android:name=".activity.StrategyActivity"/>
        <activity android:name=".activity.HelpInfoActivity"/>
        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".activity.UploadFailurePhotoActivity"/>
        <activity android:name=".activity.MapActivity"/>
        <activity android:name=".activity.AddAreaTaskActivity"/>
        <activity android:name=".activity.PoiMapActivity"/>
        <activity android:name=".activity.TestActivity"/>
        <activity android:name=".activity.WebActivity"/>
        <activity android:name=".activity.CitySelectActivity"/>
        <activity android:name=".activity.SettingActivityV2"/>
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:theme="@android:style/Theme.Translucent"/>
        <activity
            android:name=".activity.ModifyHistoryActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.example.signalcollection"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ModifyInfoActivity"/>
        <activity android:name=".activity.RegisterActivityV2"/>
        <activity android:name=".activity.TakePhotoActivity"/>
        <activity android:name=".activity.SearchBandActivity"/>
        <activity android:name=".activity.SettingActivity"/>
        <activity android:name=".activity.ConfirmAddAreaTaskActivity"/>
        <activity android:name=".activity.HistoryDetailActivity"/>
        <activity android:name=".activity.UploadTaskPhotoActivity"/>
        <activity android:name=".activity.TakeAuditPhotoActivity"/>

        <!-- Required  SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"/>

        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService"/>
                <category android:name="com.example.signalcollection"/>
            </intent-filter>

        </service>


        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>   <!--Required  显示通知栏 -->
                <category android:name="com.example.signalcollection"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>

        </receiver>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false"/>


        <receiver android:name=".MessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK"/> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION"/><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.example.signalcollection"/>
            </intent-filter>
        </receiver>

        <!--百度定位SDK-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>

        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default"/>
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="0c461d5231ca83e4d2a41239"/>

        <service
            android:name="com.shuwei.trigger.service.TriggerSdkService"
            android:enabled="true"
            android:exported="false"/>

        <meta-data
            android:name="com.shuwei.trigger.APP_KEY"
            android:value=""/>
        <meta-data
            android:name="com.shuwei.trigger.APP_ID"
            android:value=""/>

    </application>

</manifest>